h1 {
  text-align: center;
}

body {
  background-color: powderblue;
}

#paragraph2 {
  border-style: solid;
  border-width: 5px;
  border-color: green;
  background-color: white;
  line-height: 2;
}

.blue {
  color: white;
  background-color: blue;
}

.w3-link {
    color: darkred;
}

ol {
    list-style-type: decimal-leading-zero;
}
