h1 {
  text-align: center;
}

body {
  background-color: powderblue;
  text-align: left;
}

#paragraph2 {
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: green;
  background-color: white;
  line-height: 2;
}

.blue {
  color: white;
  background-color: blue;
}

.w3-link {
    color: darkred;
}

ol {
    list-style-type: decimal-leading-zero;
}

th {
    background-color: grey;
}

td {
    background-color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}
