body {
  background-color: powderblue;
}
#paragraph2 {
  border-style: solid;
  border-width: 5px;
  border-color: green;
  background-color: white;
}

.blue {
  color: white;
  background-color: blue;
}
